
*.lock
BasicSelenium/.vs/BasicSelenium/DesignTimeBuild/.dtbcache
BasicSelenium/.vs/BasicSelenium/v16/.suo
*.ide-wal
*.ide
*.dll
*.pdb
*.tmp
*.cache
BasicSelenium/.vs/BasicSelenium/v16/Server/sqlite3/storage.ide
*.ide
*.v2
*.ide
*.json
*.pdb
*.dll
*.cache
*.txt
*.props
*.json
